<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>EasyBackup - Home</title>
        <meta property="og:title" content="Document - Home" />
        <link rel="icon" href="/assets/logo.png">
        <meta property="og:image" content="/assets/logo.png">
        <meta name="theme-color" content="#5865F2">
        <meta name="description" content="Some page description..." />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="Some page description..." />
    </head>
    <body>
        <%- include('_header') %>
        <div class="container p-5">
            <h1>EasyBackup is running!</h1>
            <hr>
            <p><code>Last Backup:</code> <%= uploads[0].time || 'none' %></p>
            <p style="opacity: .9;"><em>⏰ Eastern Standard Time</em></p>
        </div>
    </body>
</html>
